.game_area {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 5px solid rgba(170, 19, 19, 0);
  background-color: aqua;
}
.snake_dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: black;
  border: 1px solid #fff;
}
